body {
    min-width: 800px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* position the toolbox at the top of the screen */
.toolbox {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-left: 10px;
    min-width: 790px;
}

/* Shrink the try-it tab's padding to accomodate buttons when it is active '*/
.tryIt.active a.tryIt {
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Show the buttons in the try-it tab visible when the tab is selected */
li.active .tabButtons {
    display: inline-block;
}

/* hide the tab-buttons by default */
.tabButtons {
    display: none;
}

/* Move the content below the toolbox */
.wrapper {
    position: absolute;
    top: 238px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    max-width: 850px;
    min-width: 793px;
    margin-right: auto;
    margin-left: auto;
    
    overflow-y: auto;
}

/* Move the heading in the directions up */
#directions h1 {
    margin-top: 5px;
}

/* Make linenumber cells as narrow as possible */
.linenumcell {
    width: 1px;
    white-space: nowrap;
    text-align: center;

}

#program tbody .linenumcell {
    vertical-align: middle !important;
    font-size: 1.5em;
}

/* position the tool palette */
.palette {
    display: block;
}

/* make the instruction blocks into blocks */
.instruction {
    border: 1px solid black;
    border-radius: 3px;
    vertical-align: middle;
    padding: 3px;
    width: fit-content;
    margin: 5px;
    display: inline-block;
    background-color: #fff;
}

.instructioncell .instruction {
    margin: 0px;
}

/* make fillins look like blocks in the instruction */
.fillin {
    display: inline-block;
    border: 1px solid black;
    border-radius: .5em;
    vertical-align: middle;
    padding: 2px;
    padding-left: 8px;
    padding-right: 5px;
}

/* remove the underline from fillins and dropdown-menus*/
.fillin a,
.fillin a:hover,
.fillin a:active,
.fillin a:focus,
.dropdown-menu a,
.dropdown-menu a:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus
{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* color the fillin blocks */
.fillin.hand {
    background-color: #92bbfc  !important;
}

.fillin.dir {
    background-color: #92fc6f !important;
}

.fillin.pos,
.fillin.value,
.fillin.linenum {
    background-color: #fcdf5f !important;    
}

.caret {
    margin-left: 6px !important;
    margin-right: 3px !important;
}
.condition {
    display: inline-block;
    border: 1px solid black;
    border-radius: 1em;
    vertical-align: middle;
    padding: 2px;
}

/* Set the size and position of the trashcan */
#trashcan {
    height: 64px;
    float: right;
    margin-right: 20px;
}

/* The program editor should fill the rest of the screen */
.programEditor {
    width: 100%;
}

#program {
    width: 100%;
    margin-bottom: 0px;
    border: 1px solid black;
}

.codeTitle {
    margin-top: 20px;
    margin-bottom: 0px;
}

/* Format the card table */
#cardboard {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 3px;
    border-spacing: 3px;
    border-collapse: separate;
}

/* Draw pretty borders around the card positions */
.cardIndex {
    text-align: center;
    border: 1px solid black;
    vertical-align: top;
}

/* Keep the hands in the center of their cells */
.handCell {
    text-align: center;    
}

/* Make the hands BIG and make them touch the cards */
.handpos {
    font-size: 50px;
    margin-top: -4px;
}

/* Give numbers room when they are displayed rather than cards */
.cardnum {
    display: block;
    height: 1.5em;    
}

/* Flip the lefthand to make it an L */
.lefthand {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* give space below the run and instruction tabs */
#run {
    margin-bottom: 5px;
}

#inst {
    margin-bottom: 5px;
}

/* Highlight the currently executing line of code */
tr.currentLine {
    background: #92fc6f !important;
}

/* Highlight the last executed line of code */
tr.lastLine {
    background: #92bbfc !important;
}

/* Make the copy button pretty */
.copybutton {
    float: right;
    cursor: pointer;
}

/* Make the copy button highlight when clicked */
.copybutton:active {
    color: #4da6ff;
}

#runSlider {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

/* Fork on github corner mark */
.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
    .github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm {
        animation:octocat-wave 560ms ease-in-out
    }
}
.github-corner {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}


/* Set up printing to display code only */
@media print {
    .toolbox {
        display: none;
    }
    
    .wrapper {
        position: relative;
        top: 0;
    }
    
    .github-corner {
        display: none;
    }
    
    .copybutton {
        display: none;
    }
    
    #program tbody tr:last-child {
        display: none;
    }

    #program thead {
        display: none;
    }
    
    #program {
        border: 0;
        border-bottom: 1px solid black;
    }
    
    #program tr>td {
        border-top-color: black;
        border-bottom-color: black;
    }
    
    .caret {
        display: none !important;
    }  
    
    .fillin {
        padding-right: 9px;
    }
}